// Fonts

@font-face {
  font-family: 'bangla';
  src: font-url('banglamn-webfont.eot');
  src: font-url('banglamn-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('banglamn-webfont.woff') format('woff'),
       font-url('banglamn-webfont.ttf') format('truetype'),
       font-url('banglamn-webfont.svg#bangla_mnregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'patron-light';
  src: font-url('PatronTRIAL-Light.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'patron-medium';
  src: font-url('PatronTRIAL-Medium.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'patron-regular';
  src: font-url('PatronTRIAL-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'patron-thin';
  src: font-url('PatronTRIAL-Thin.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'patron-thin';
  src: font-url('PatronTRIAL-ThinItalic.otf');
  font-weight: normal;
  font-style: italic;
}
