// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.controller--home__intro {
  @include font__patron-thin__size__large;
  background: $pink;
  text-align: center;
  color: #fff;
  fill: #fff;
  padding-top: 80px;
  padding-bottom: 80px;
}

.controller--home__recipes {
  background: $pink-dark;
  padding-top: 60px;
  padding-bottom: 60px;
}

.controller--home__recipes__title {
  padding-bottom: 40px;
}

.controller--home__about-area__column {
  padding: 50px 50px 40px;
}

.controller--home__about-area__right-column {
  background: $blue;
  color: $white;
}

.controller--home__about-area__left-column__inner {
  margin-top: 50%;
  transform: translate(0, -100%);
}
