<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="search-form">
        <form accept-charset="UTF-8" action="/search" method="get" class="search-form__form">
          <%= query_field(@query_term, autofocus: true) %>
        </form>

        <% if @suggestions.any? %>
          <% @suggestions.each do |suggestion| %>
            Did you mean <%= link_to suggestion, search_path(query: suggestion) %>?<br>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <% @results.each do |result| %>
    <%= link_to md(result.title), recipe_path(result) %>
  <% end %>
</div>

