<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="search-form">
        <form accept-charset="UTF-8" action="/search" method="get" class="search-form__form">
          <%= query_field(@query_term, autofocus: true) %>
        </form>
      </div>
    </div>
  </div>

  <% @query.each do |result| %>
    <%= link_to md(result.title), recipe_path(result) %>
  <% end %>
</div>

