<%= link_to(recipe, class: 'recipe-pairing__item text-center link--blank', style: "background: #{recipe.color}" ) do %>
  <div class="recipes-pairing__item__inner">
    <div class="recipes-grid__item__gem recipe__gem">
      
    </div>
    <%= content_tag(:h2, recipe.title, class: 'recipes-grid__item__title font__bangla-regular__size__huge') %>
  </div>
<% end %>
