<% cache(recipe) do %>
  <div class="recipes-grid__item col-sm-6 text-center">
    <%= link_to(recipe, class: 'blank-link') do %>
      <div class="recipes-grid__item__inner">
        <div class="recipes-grid__item__gem">
          
        </div>
        <%= content_tag(:h2, recipe.title, class: 'recipes-grid__item__title') %>
      </div>
    <% end %>
  </div>
<% end %>
