<% cache(cache_key_for(Recipe)) do %>
  <div class="recipes-grid row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="row">
        <%= render partial: 'recipes/recipe', collection: @recipes %>
      </div>
    </div>
  </div>
<% end %>
