<%# Page Meta %>
<%= page_title('All Recipes') %>
<%= page_description("There are #{Recipe.count} recipes on Recipe Box right now, uploaded by #{User.with_uploaded_recipes.count} different users. These are some of the most recent recipes.") %>

<% cache cache_key_for(@recipes) do %>
  <div class="container">
    <div class="row">
      <div class="recipes-grid">
        <%= render partial: 'recipes/recipe', collection: @recipes %>
      </div>
    </div>
  </div>
<% end %>
