.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

.ib {
  display: inline-block;
}

.ibfix {
  font-size: 0;
  letter-spacing: -4px;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// Alignment
.text-left {
  text-align: left;

  input,
  textarea {
    text-align: left;
  }
 }

.text-right {
  text-align: right;

  input,
  textarea {
    text-align: right;
  }
 }

.text-center {
  text-align: center;

  input,
  textarea {
    text-align: center;
  }
 }

.text-justify {
  text-align: justify;

  input,
  textarea {
    text-align: justify;
  }
 }

.text-nowrap {
  white-space: nowrap;
 }

// Transformation
.text-lowercase  { text-transform: lowercase; }
.text-uppercase  { text-transform: uppercase; }
.text-capitalize { text-transform: capitalize; }

// Line height
.line-height-normal { line-height: normal !important; }

// Display
.display-block        { display: block; }
.display-inline       { display: inline; }
.display-inline-block { display: inline-block; }
