html, body {
  height: 100%;
}

.application-body {
  @include breakpoint(sm) {
    padding-top: $header-height + 80px;

    &.controller--home {
      padding-top: 0;
    }
  }
}

.application-wrapper {
  min-height: 100%;
  position: relative;
}

.application-content {
  padding-bottom: $footer-height;
}
