html {
  @include regular-sans;
  text-rendering: optimizeLegibility;

  @include breakpoint(sm) {
    text-rendering: auto;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0 0 1em;
}

h1 {
  @include large-serif;
}
