///////////////////////////////////////////////////
// Typography Variables
///////////////////////////////////////////////////

//
// Font stacks
//

// Patron
$font-stack__patron-light   : 'patron-light',   sans-serif;
$font-stack__patron-medium  : 'patron-medium',  sans-serif;
$font-stack__patron-regular : 'patron-regular', sans-serif;
$font-stack__patron-thin    : 'patron-thin',    sans-serif;

// Bangla
$font-stack__bangla-regular : 'bangla',         serif;

///////////////////////////////////////////////////
// Typography definitions
///////////////////////////////////////////////////

//
// Patron
//

// Patron thin
@mixin patron-thin__regular {
  $font-size      : 16px;
  $letter-spacing : 0.5px;
  font-family: $font-stack__patron-thin;
  line-height: 1.4;
  @include type-generator($font-size, $letter-spacing);
}
.patron-thin__regular {
  @include patron-thin__regular;
}

@mixin patron-thin__medium {
  $font-size      : 23px;
  $letter-spacing : 0.5px;
  font-family: $font-stack__patron-thin;
  line-height: 1.4;
  @include type-generator($font-size, $letter-spacing);
}
.patron-thin__medium {
  @include patron-thin__medium;
}

@mixin patron-thin__large {
  $font-size      : 30px;
  $letter-spacing : 0.5px;
  @include type-generator($font-size, $letter-spacing);
  line-height: 1.4;
  font-family: $font-stack__patron-thin;
}
.patron-thin__large {
  @include patron-thin__large;
}


// Patron light
@mixin patron-light__large {
  $font-size      : 42px;
  $letter-spacing : 1.2px;
  font-family: $font-stack__patron-light;
  line-height: 1.2;
  @include type-generator($font-size, $letter-spacing);
}
.patron-light__large {
  @include patron-light__large;
}

@mixin patron-light__medium {
  $font-size      : 27px;
  $letter-spacing : 0.5px;
  font-family: $font-stack__patron-light;
  line-height: 1.4;
  @include type-generator($font-size, $letter-spacing);
}
.patron-light__medium {
  @include patron-light__medium;
}


// Patron regular
@mixin patron-regular__medium {
  $font-size      : 23px;
  $letter-spacing : 0.5px;
  @include type-generator($font-size, $letter-spacing);
  line-height: 1.4;
  font-family: $font-stack__patron-regular;
}
.patron-regular__medium {
  @include patron-regular__medium;
}

@mixin patron-regular__large {
  $font-size      : 30px;
  $letter-spacing : 0.5px;
  @include type-generator($font-size, $letter-spacing);
  line-height: 1.2;
  font-family: $font-stack__patron-regular;
}
.patron-regular__large {
  @include patron-regular__large;
}


// Patron medium
@mixin patron-medium__smallcaps {
  $font-size      : 18px;
  $letter-spacing : 1px;
  @include type-generator($font-size, $letter-spacing);
  line-height: 1.4;
  font-family: $font-stack__patron-medium;
  text-transform: uppercase;
}
.patron-medium__smallcaps {
  @include patron-medium__smallcaps;
}

@mixin patron-medium__regular {
  $font-size      : 20px;
  $letter-spacing : 0.5px;
  @include type-generator($font-size, $letter-spacing);
  line-height: 1.4;
  font-family: $font-stack__patron-medium;
}
.patron-medium__regular {
  @include patron-medium__regular;
}

@mixin patron-medium__medium {
  $font-size      : 30px;
  $letter-spacing : 0.5px;
  @include type-generator($font-size, $letter-spacing);
  line-height: 1.4;
  font-family: $font-stack__patron-medium;
}
.patron-medium__medium {
  @include patron-medium__medium;
}

@mixin patron-medium__large {
  $font-size      : 42px;
  $letter-spacing : 1.2px;
  @include type-generator($font-size, $letter-spacing);
  line-height: 1.2;
  font-family: $font-stack__patron-medium;
}
.patron-medium__large {
  @include patron-medium__large;
}

@mixin patron-medium__huge {
  $font-size      : 72px;
  $letter-spacing : 0;
  $xs-ratio: 1.7;
  @include type-generator($font-size, $letter-spacing, $xs-ratio);
  line-height: 1.4;
  font-family: $font-stack__patron-medium;
}
.patron-medium__huge {
  @include patron-medium__huge;
}

//
// Bangla
//

@mixin bangla-regular__large {
  $font-size      : 38px;
  $letter-spacing : 0px;
  @include type-generator($font-size, $letter-spacing);
  line-height: 1.5;
  font-family: $font-stack__bangla-regular;
}
.bangla-regular__large {
  @include bangla-regular__large;
}

@mixin bangla-regular__huge {
  $font-size      : 52px;
  $letter-spacing : 0px;
  @include type-generator($font-size, $letter-spacing);
  line-height: 1.5;
  font-family: $font-stack__bangla-regular;
}
.bangla-regular__huge {
  @include bangla-regular__huge;
}
