html {
  @include patron-thin__regular;

  @include breakpoint(sm) {
    text-rendering: optimizeLegibility;
  }

  @include breakpoint(md) {
    text-rendering: geometricPrecision;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 1em;
}

p {
  margin: 0 0 1em;

  &:only-child {
    margin-bottom: 0;
  }
}

.no-last-p-margin {
  p:last-child {
    margin-bottom: 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

.display-title,
.title,
.subtitle {
  @include breakpoint(sm) {
    max-width: 630px;
    margin-left: auto;
    margin-right: auto;
  }
}

.display-title {
  @include bangla-regular__huge;
  margin: 60px auto;
  text-align: center;
}

.title {
  @include patron-medium__large;
  margin-bottom: 1em;
  text-align: center;
}

.subtitle {
  @include patron-medium__medium;
  margin-bottom: 1em;
}
