///////////////////////////////////////////////////
// Typography Variables
///////////////////////////////////////////////////

//
// Font stacks
//

// Patron
$font-stack__patron-light   : 'patron-light',   sans-serif;
$font-stack__patron-medium  : 'patron-medium',  sans-serif;
$font-stack__patron-regular : 'patron-regular', sans-serif;
$font-stack__patron-thin    : 'patron-thin',    sans-serif;

// Bangla
$font-stack__bangla-regular : 'bangla',         serif;


///////////////////////////////////////////////////
// Typography definitions
///////////////////////////////////////////////////

//
// Patron
//

// Patron thin
@mixin font__patron-thin__size__regular {
  $font-size      : 16px;
  $letter-spacing : 0.5px;
  $line-height    : 18px;
  font-family: $font-stack__patron-thin;
  @include type-generator($font-size, $letter-spacing, $line-height);
}
.font__patron-thin__size__regular {
  @include font__patron-thin__size__regular;
}

@mixin font__patron-thin__size__medium {
  $font-size      : 23px;
  $letter-spacing : 0.5px;
  $line-height    : 26px;
  font-family: $font-stack__patron-thin;
  @include type-generator($font-size, $letter-spacing, $line-height);
}
.font__patron-thin__size__medium {
  @include font__patron-thin__size__medium;
}

@mixin font__patron-thin__size__large {
  $font-size      : 30px;
  $letter-spacing : 0.5px;
  $line-height    : 43px;
  @include type-generator($font-size, $letter-spacing, $line-height);
  font-family: $font-stack__patron-thin;
}
.font__patron-thin__size__large {
  @include font__patron-thin__size__large;
}

// Patron regular
@mixin font__patron-regular__size__medium {
  $font-size      : 23px;
  $letter-spacing : 0.5px;
  $line-height    : 26px;
  @include type-generator($font-size, $letter-spacing, $line-height);
  font-family: $font-stack__patron-regular;
}
.font__patron-regular__size__medium {
  @include font__patron-regular__size__medium;
}

@mixin font__patron-regular__size__large {
  $font-size      : 30px;
  $letter-spacing : 0.5px;
  $line-height    : 43px;
  @include type-generator($font-size, $letter-spacing, $line-height);
  font-family: $font-stack__patron-regular;
}
.font__patron-regular__size__large {
  @include font__patron-regular__size__large;
}

// Patron medium
@mixin font__patron-medium__size__large {
  $font-size      : 30px;
  $letter-spacing : 0.5px;
  $line-height    : 43px;
  @include type-generator($font-size, $letter-spacing, $line-height);
  font-family: $font-stack__patron-medium;
}
.font__patron-medium__size__large {
  @include font__patron-medium__size__large;
}

//
// Bangla
//

@mixin font__bangla-regular__size__regular {
  $font-size      : 16px;
  $letter-spacing : 0.5px;
  $line-height    : 18px;
  @include type-generator($font-size, $letter-spacing, $line-height);
  font-family: $font-stack__bangla-regular;
}
.font__bangla-regular__size__regular {
  @include font__bangla-regular__size__regular;
}

@mixin font__bangla-regular__size__large {
  $font-size      : 38px;
  $letter-spacing : 0.5px;
  $line-height    : 41px;
  @include type-generator($font-size, $letter-spacing, $line-height);
  font-family: $font-stack__bangla-regular;
  font-weight: bold;
}
.font__bangla-regular__size__large {
  @include font__bangla-regular__size__large;
}
