html {
  @include font__patron-thin__size__regular;

  @include breakpoint(sm) {
    text-rendering: optimizeLegibility;
  }

  @include breakpoint(md) {
    text-rendering: geometricPrecision;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 0 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.subtitle {
  @include font__patron-medium__size__smallcaps;
  margin-bottom: 40px;
}
