///////////////////////////////////////////////////
// Typography Variables
///////////////////////////////////////////////////

//
// Font stacks
//

// Patron
$font-stack__patron-light   : 'patron-light',   sans-serif;
$font-stack__patron-medium  : 'patron-medium',  sans-serif;
$font-stack__patron-regular : 'patron-regular', sans-serif;
$font-stack__patron-thin    : 'patron-thin',    sans-serif;

// Bangla
$font-stack__bangla-regular : 'bangla',         serif;


///////////////////////////////////////////////////
// Typography definitions
///////////////////////////////////////////////////

//
// Patron
//

// Patron light
@mixin font__patron-light__size__large {
  $font-size      : 42px;
  $letter-spacing : 1.2px;
  font-family: $font-stack__patron-light;
  line-height: 1.2;
  @include type-generator($font-size, $letter-spacing);
}
.font__patron-light__size__large {
  @include font__patron-light__size__large;
}

@mixin font__patron-light__size__medium {
  $font-size      : 27px;
  $letter-spacing : 0.5px;
  font-family: $font-stack__patron-light;
  line-height: 1.4;
  @include type-generator($font-size, $letter-spacing);
}
.font__patron-light__size__medium {
  @include font__patron-light__size__medium;
}

// Patron thin
@mixin font__patron-thin__size__regular {
  $font-size      : 16px;
  $letter-spacing : 0.5px;
  font-family: $font-stack__patron-thin;
  line-height: 1.4;
  @include type-generator($font-size, $letter-spacing);
}
.font__patron-thin__size__regular {
  @include font__patron-thin__size__regular;
}

@mixin font__patron-thin__size__medium {
  $font-size      : 23px;
  $letter-spacing : 0.5px;
  font-family: $font-stack__patron-thin;
  line-height: 1.4;
  @include type-generator($font-size, $letter-spacing);
}
.font__patron-thin__size__medium {
  @include font__patron-thin__size__medium;
}

@mixin font__patron-thin__size__large {
  $font-size      : 30px;
  $letter-spacing : 0.5px;
  @include type-generator($font-size, $letter-spacing);
  line-height: 1.2;
  font-family: $font-stack__patron-thin;
}
.font__patron-thin__size__large {
  @include font__patron-thin__size__large;
}

// Patron regular
@mixin font__patron-regular__size__medium {
  $font-size      : 23px;
  $letter-spacing : 0.5px;
  @include type-generator($font-size, $letter-spacing);
  line-height: 1.4;
  font-family: $font-stack__patron-regular;
}
.font__patron-regular__size__medium {
  @include font__patron-regular__size__medium;
}

@mixin font__patron-regular__size__large {
  $font-size      : 30px;
  $letter-spacing : 0.5px;
  @include type-generator($font-size, $letter-spacing);
  line-height: 1.2;
  font-family: $font-stack__patron-regular;
}
.font__patron-regular__size__large {
  @include font__patron-regular__size__large;
}

// Patron medium
@mixin font__patron-medium__size__smallcaps {
  $font-size      : 18px;
  $letter-spacing : 1px;
  @include type-generator($font-size, $letter-spacing);
  line-height: 1.4;
  font-family: $font-stack__patron-medium;
  text-transform: uppercase;
}
.font__patron-medium__size__smallcaps {
  @include font__patron-medium__size__smallcaps;
}

@mixin font__patron-medium__size__medium {
  $font-size      : 30px;
  $letter-spacing : 0.5px;
  @include type-generator($font-size, $letter-spacing);
  line-height: 1.4;
  font-family: $font-stack__patron-medium;
}
.font__patron-medium__size__medium {
  @include font__patron-medium__size__medium;
}

@mixin font__patron-medium__size__large {
  $font-size      : 42px;
  $letter-spacing : 1.2px;
  @include type-generator($font-size, $letter-spacing);
  line-height: 1.2;
  font-family: $font-stack__patron-medium;
}
.font__patron-medium__size__large {
  @include font__patron-medium__size__large;
}

//
// Bangla
//

@mixin font__bangla-regular__size__regular {
  $font-size      : 16px;
  $letter-spacing : 0.5px;
  @include type-generator($font-size, $letter-spacing);
  line-height: 1.4;
  font-family: $font-stack__bangla-regular;
}
.font__bangla-regular__size__regular {
  @include font__bangla-regular__size__regular;
}

@mixin font__bangla-regular__size__large {
  $font-size      : 38px;
  $letter-spacing : 0.5px;
  @include type-generator($font-size, $letter-spacing);
  line-height: 1.2;
  font-family: $font-stack__bangla-regular;
  font-weight: bold;
}
.font__bangla-regular__size__large {
  @include font__bangla-regular__size__large;
}

@mixin font__bangla-regular__size__huge {
  $font-size      : 52px;
  $letter-spacing : 0px;
  @include type-generator($font-size, $letter-spacing);
  line-height: 1.2;
  font-family: $font-stack__bangla-regular;
  font-weight: bold;
}
.font__bangla-regular__size__huge {
  @include font__bangla-regular__size__huge;
}
