<ul class="nav--primary__list">
  <li class="nav--primary__list-item">
    <%= link_to('Recipes', recipes_path, class: 'link--blank-hover') %>
  </li>
  <li class="nav--primary__list-item">
    <%= link_to('About', '#about_path', class: 'link--blank-hover') %>
  </li>
  <li class="nav--primary__list-item">
    <%= link_to('Submit', '#submit_path', class: 'link--blank-hover') %>
  </li>
  <li class="nav--primary__list-item">
    <%= link_to('Your Box', user_or_login_path, class: 'link--blank-hover') %>
  </li>
</ul>

