<ul class="nav--primary__list">
  <li class="nav--primary__list-item">All Recipes</li>
  <li class="nav--primary__list-item">About</li>
  <li class="nav--primary__list-item">Submit</li>
  <li class="nav--primary__list-item">Your Box</li>
</ul>
