<%= content_for :header do %>
  <div class="controller--home__intro row">
    <div class="col-sm-8 col-sm-offset-2">
      <h1>
        <span class="visually-hidden">Recipe Box</span>
        <%= embedded_svg('recipe-box-logo', class: 'recipe-box-logo recipe-box-logo--large') %>
      </h1>
      <p>tk you stumble upon a jewelry encrusted box. the decadent container lures you in. you open the box. loose leaf pages adorned with squishy embellishments and stick on jewels. these are the most decadent and satisfying recipes of your life. this is recipe box.</p>
    </div>
  </div>

  <%= render 'nav_primary_home' %>
<% end %>

<% cache(cache_key_for(Recipe)) do %>
  <div class="controller--home__recipes recipes-grid row">
    <div class="controller--home__recipes__title text-center font__patron-thin__size__medium">Featured Recipes</div>
    <div class="col-sm-8 col-sm-offset-2">
      <div class="row">
        <%= render partial: 'recipes/recipe', collection: @recipes %>
      </div>
    </div>
  </div>
<% end %>

<div class="controller--home__about-area row">
  <div class="controller--home__about-area__left-column controller--home__about-area__column text-center col-sm-4">
    <div class="controller--home__about-area__left-column__inner">
      <p>the story behind</p>
      <div class="font__patron-regular__size__large">Recipe Box</div>
    </div>
  </div>
  <div class="controller--home__about-area__right-column controller--home__about-area__column font__patron-thin__size__large col-sm-8">
    <p>Recipe Box phasellus leo enim, convallis nec eleifend vitae, port titor efficitur ipsum. Pelle tesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque dignissim posuere ligula eget elementum. Morbi finibus arcu sit amet turpis facilisis pharetra.</p>
    <div class="font__patron-medium__size__large">Continue reading</div>
  </div>
</div>
