@mixin type-generator($font-size, $letter-spacing, $xs-ratio: 1.2, $sm-ratio: 1.1, $md-ratio: 1.05) {
  font-size:      round($font-size      / $xs-ratio);
  letter-spacing: round($letter-spacing / $xs-ratio);

  @include breakpoint(sm) {
    font-size:      round($font-size      / $sm-ratio);
    letter-spacing: round($letter-spacing / $sm-ratio);
  }

  @include breakpoint(md) {
    font-size:      round($font-size      / $md-ratio);
    letter-spacing: round($letter-spacing / $md-ratio);
  }

  @include breakpoint(lg) {
    font-size:      $font-size;
    letter-spacing: $letter-spacing;
  }
}
