@mixin button-base {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  background: transparent;
  border: 1px solid;
  border-radius: 0.5em;
  line-height: 1;
  transition: all $tt-short;
  text-align: center !important;

  &:hover,
  &:focus {
    @include button-hover;
  }

  &.button--active {
    background-color: $white;

    &:hover,
    &:focus {
      background-color: $white;
    }
  }
}

@mixin button-hover {
  background: $color-active;
  outline: 0;
}

@mixin button {
  @include patron-medium__regular;
  @include button-base;
  width: 220px;
  padding: 22px 5px 18px;
}

@mixin button--small {
  @include patron-thin__regular;
  @include button-base;
  padding: 0.425em 0.6em 0.3em;
}

.button {
  @include button;
}

.button--small {
  @include button--small;
}

.button--hover {
  @include button-hover;
}
