@mixin button-base {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  background: transparent;
  border: 1px solid;
  border-radius: 0.5em;
  line-height: 1;
  padding: 0.425em 0.6em 0.3em;
  transition: all 0.2s;

  &:hover,
  &:focus {
    background: $color-active;
    outline: 0;
  }
}

.button {
  @include patron-light__medium;
  @include button-base;
}

.button--small {
  @include patron-thin__regular;
  @include button-base;
}

.button--medium {
  @include patron-regular__medium;
  @include button-base;
  padding: 0.825em 1em 0.7em;
}

.button--large {
  @include patron-medium__medium;
  @include button-base;
  padding: 0.625em 2em 0.5em;
}
