.flash-messages {
  padding: 30px 30px 40px;
  margin-top: -30px;
  cursor: pointer;
  text-align: center;

  @include breakpoint(sm) {
    position: fixed;
    top: 165px;
    left: 10px;
    transform: rotate(-6deg);
    z-index: 1;
    text-align: left;
    padding: 0 30px;
    margin-top: 0;
  }
}

.flash-message__close {
  position: relative;
  top: -0.175em;

  @include breakpoint(sm) {
    margin-left: -1em;
  }
}
