.inline-input {
  input[type="text"],
  input[type="email"],
  textarea {
    letter-spacing: inherit;
    outline: 0;
    border: 0;
    border-bottom: 1px dashed;
    width: 100%;
    background: rgba(255, 255, 255, 0.4);

    &:focus {
      background: rgba(255, 255, 255, 0.75);
    }
  }

  textarea {
    resize: vertical;
    border: 1px dashed;
    height: 150px;
  }
}

.auto-size-input {
  display: inline-block;

  input {
    width: auto;
    display: inline-block;
  }
}
