.inline-input {
  input[type="text"],
  input[type="email"],
  textarea {
    letter-spacing: inherit;
    outline: 0;
    border: 0;
    border-bottom: 1px dashed;
    width: 100%;
    background: rgba(255, 255, 255, 0.4);

    &:focus {
      background: rgba(255, 255, 255, 0.75);
    }
  }

  select {
    width: 100%;
  }

  textarea {
    resize: vertical;
    border: 1px dashed;
    height: 150px;
  }

  label {
    @include patron-medium__smallcaps;
    display: block;
    text-align: left;
  }

  .nested-fields {
    margin-bottom: 30px;
  }

  .add_fields {
    @include button;
  }

  .remove_fields {
    @include button--small;
    margin-top: 10px;
  }
}

.auto-size-input {
  display: inline-block;

  input {
    width: auto;
    display: inline-block;
  }
}
