.link {
  text-decoration: underline;
}

.link--blank {
  color: inherit;
  text-decoration: none;
}

.link--default {
  @include smart-underline($white, $black, $selection-background, 90%);
  text-decoration: none;
}

.link--special {
  @include smart-underline($pink, $white, $selection-background, 90%);
  text-decoration: none;
}
