.link {
  text-decoration: none;
  border-bottom: 1px solid;
  color: inherit;
}

.link--blank {
  color: inherit;
  text-decoration: none;
}

.link--blank-hover {
  color: inherit;
  text-decoration: none;

  &:hover {
    border-bottom: 1px solid;
  }
}

.link--default {
  text-decoration: none;
  border-bottom: 1px solid;
  color: inherit;
}

.link--special {
  text-decoration: none;
  border-bottom: 1px solid;
  color: inherit;
}
