// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.controller--home__intro {
  @include patron-thin__large;
  background: $pink-light;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

.controller--home__recipes {
  background: $pink-light;
  padding-top: 60px;
  padding-bottom: 60px;
}

.controller--home__recipes__title {
  padding-bottom: 40px;
}

.controller--home__about-area__right-column {
  background: $blue;
  color: $white;
}

@include breakpoint(sm) {
  .controller--home__about-area {
    position: relative;
  }

  .controller--home__about-area__column {
    padding: 50px 50px 40px;
    position: static;
  }

  .controller--home__about-area__left-column__inner {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
  }
}
