body[class*="controller--devise"],
.controller--users-registrations,
.controller--users.action--confirm,
.controller--users.action--update {
  background: $blue;

  .nav--primary {
    background: $white;
  }
}

.devise-styles {
  text-align: center;
  color: $white;

  .checkbox {
    text-align: left;
    margin-bottom: 2em;

    label {
      color: $white;
    }
  }

  input:not([type="checkbox"]),
  .like-input {
    padding: 20px;
    border-radius: 10px;
    border: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 2em;
    line-height: normal;
  }

  .field {
    color: $black;
  }

  [type="submit"],
  .next-step {
    background: $black;
  }

  .next-step {
    cursor: pointer;
  }

  #error_explanation {
    margin-bottom: 2em;

    h2 {
      margin: 0;
    }

    ul {
      @include blank-list;
    }
  }
}

.devise__shared-links {
  margin-bottom: 80px;

  a {
    @extend .link--blank-hover;
    color: $white;
  }
}
