.nav--primary {
  @include patron-regular__medium;
  line-height: normal !important;
  margin-bottom: 40px;
  padding: 30px 10px;

  @include breakpoint(sm) {
    height: $header-height;
    margin-bottom: 0;
    text-align: center;
  }
}

.nav--primary--home {
  background-color: $white;
  text-align: center;
  margin-bottom: 0;
}

.nav--primary--with-logo {
  background-color: $white;

  .controller--recipes.action--show & {
    background: $gray;
  }

  .nav--primary__list {
    float: left;
    clear: both;
  }

  @include breakpoint(sm) {
    .nav--primary__list {
      float: right;
      clear: none;
    }
  }
}

.nav--primary--fixed,
.nav--primary.affix {
  @include breakpoint(sm) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    z-index: 100;
  }
}

.nav--primary__affix-holder {
  display: none;
  height: $header-height;
}

.nav--primary__recipe-box-logo {
  width: 230px;
  float: left;
  margin-bottom: 20px;

  @include breakpoint(sm) {
    margin-bottom: 0;
  }
}

.nav--primary__list {
  @include blank-list;
}

.nav--primary__list-item {
  display: inline-block;
  margin-right: 20px;

  @include breakpoint(sm) {
    margin-right: 0;

    &:not(:first-child)
    {
      margin-left: 40px;
    }
  }
}
