.nav--primary {
  @include font__patron-regular__size__medium;
  line-height: normal;
}

.nav--primary--home {
  background-color: $white;
  padding: 30px 10px;
  text-align: center;
}

.nav--primary--with-logo {
  background: $pink;
  padding: 30px 10px 14px;

  .controller--recipes.action--show & {
    background: $gray;
  }

  .nav--primary__list {
    float: right;
  }
}

.nav--primary--fixed,
.nav--primary.affix {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  z-index: 100;
}

.nav--primary__affix-holder {
  display: none;
  min-height: $header-height;
}

.nav--primary__recipe-box-logo {
  width: 230px;
  float: left;
}

.nav--primary__list {
  @include blank-list;
}

.nav--primary__list-item {
  display: inline-block;
  margin: 0 20px;
}
