<div class="container">
  <div class="row">
    <div class="col-sm-12 bangla-regular__large margin-bottom-huge no-last-p-margin">
      <p>Recipe Box is a space designed to preserve the warmth of cooking. Focusing on style and wholistic ingredients, Recipe Box is a tool that enhances the cooking experience, and captures the spirit of each uploaded recipe. <%= link_to('Read the full statement', about_statement_path, class: 'link--default') %>.</p>
    </div>
    <div class="col-sm-12 text-center margin-bottom-huge">
      <%= image_tag('recipe-box-kale-squash-800.jpg', width: 400, height: 295) %>
    </div>
    <div class="col-sm-12 text-center margin-bottom-medium patron-medium__medium" id="guidelines">Community Guidelines</div>
    <div class="col-sm-10 col-sm-offset-1 text-center margin-bottom-large patron-thin__large">
      Initially, Recipe Box was created to exclusively house vegetarian recipes. While the project is no longer restricted to herbivores, the content should be health based. To maintain the projects goals, please adhere to the following guidelines:
    </div>
    <div class="col-sm-8 col-sm-offset-2 patron-thin__medium margin-bottom-huge">
      <ol class="list--default">
        <li>Avoid recipes with artificial ingredients.</li>
        <li>Avoid recipes that are blatantly unhealthy (i.e Fried Twinkie glazed with melted Jolly Ranchers)</li>
        <li>When transcribing a recipe, write it as though you are telling it to a friend. Use your favorite descriptors but be sure that the procedure is easily understood</li>
        <li>If you are copying a recipe from another source, please re-write it in your own words and credit it in the appropriate field on the recipe page.</li>
      </ol>
    </div>
    <div class="col-sm-12 text-center margin-bottom-medium patron-medium__medium">News</div>
    <div class="col-sm-8 col-sm-offset-2 patron-thin__medium margin-bottom-large text-center">
      Any recent news will be placed here.
    </div>
  </div>
</div>
