<div class="row">
  <div class="col-sm-12 patron-light__large">
    <p>Recipe Box is a space designed to preserve the warmth of cooking. Focusing on style and wholistic ingredients, Recipe Box is a tool that enhances the cooking experience, and captures the spirit of each uploaded recipe.</p>
    <p><%= link_to('Read the full statement', about_statement_path, class: 'link--default') %>.</p>
  </div>
</div>
