// Index
.controller--recipes.action--index {
  background-color: $pink-dark;
}

.recipes-grid__item {
  .recipe__gem {
    min-height: 80px;
  }
}

.recipe__gem {
  img {
    max-width: 100px;
  }
}

// Show

.recipe--show__gem,
.recipe--show__image,
.recipe--show__title,
.recipe--show__intro,
.recipe--show__notes,
.recipe--show__actions,
.recipe--show__ingredients-procedure-wrapper {
  margin-bottom: 40px;
}

.recipe--show__description,
.recipe--show__content {
  margin-bottom: 80px;
}

.recipe--show__actions__save {
  margin-bottom: 20px;

  @include breakpoint(sm) {
    margin-bottom: 0;
  }
}

.recipe--show__actions__print {
  @include breakpoint(sm) {
    text-align: right;
  }
}

.recipe--show__ingredients-procedure-wrapper {
  @include breakpoint(sm) {
    position: relative;
    padding-top: 20px;

    &:before {
      @include hr--dotted--vertical;
      content: '';
      height: 100%;
      position: absolute;
      left: 50%;
      top: 0;
      margin-left: -2px;
    }
  }
}

.recipe--show__ingredients {
  margin-bottom: 40px;

  &:after {
    @include hr--dotted;
    content: '';
    margin-top: 36px;
  }

  @include breakpoint(sm) {
    padding-right: 80px;
    margin-bottom: 0;

    &:after {
      content: none;
    }
  }
}

.recipe--show__steps {
  @include breakpoint(sm) {
    padding-left: 80px;
  }
}

.ingredient {
  @extend .clearfix;
}

.ingredient__amount,
.ingredient__title {
  float: left;

}

.ingredient__amount {
  width: 33.33%;
}

.ingredient__title {
  width: 66.66%;
}

.recipe--show__collected-by {
  background: $pink-gray-light;
  padding-top: 40px;
  padding-bottom: 40px;

  @include breakpoint(sm) {
    padding: 80px;
  }
}

.recipe--show__collected-by__user__total-wrapper {
  margin-top: 1em;
}
