// Index
.controller--recipes.action--index {
  background-color: $pink-dark;
}

.recipes-grid__item {
  .recipe__gem {
    min-height: 80px;
  }
}

.recipe__gem {
  img {
    max-width: 100px;
  }
}

// Show

.recipe--show__gem {
  margin-bottom: 50px;
}

.recipe--show__actions__save {
  margin-bottom: 20px;

  @include breakpoint(sm) {
    margin-bottom: 0;
  }
}

.recipe--show__actions__print {
  @include breakpoint(sm) {
    text-align: right;
  }
}

.recipe--show__ingredients-procedure-wrapper {
  @include breakpoint(sm) {
    position: relative;
    padding-top: 20px;

    &:before {
      @include hr--dotted--vertical;
      content: '';
      height: 100%;
      position: absolute;
      left: 50%;
      top: 0;
      margin-left: -2px;
    }
  }
}

.recipe--show__ingredients {
  margin-bottom: 40px;

  &:after {
    @include hr--dotted;
    content: '';
    margin-top: 36px;
  }

  @include breakpoint(sm) {
    padding-right: 80px;
    margin-bottom: 0;

    &:after {
      content: none;
    }
  }
}

.recipe--show__steps {
  @include breakpoint(sm) {
    padding-left: 80px;
  }
}

.ingredient {
  @extend .clearfix;
  margin-bottom: 1em;
}

.ingredient__amount,
.ingredient__title {
  float: left;

}

.ingredient__amount {
  width: 33.33%;
}

.ingredient__title {
  width: 66.66%;
}

.recipe--show__collected-by {
  background: $pink-gray-light;
  padding-top: 40px;
  padding-bottom: 40px;

  @include breakpoint(sm) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.recipe--show__collected-by__user__total-wrapper {
  margin-top: 1em;
}

.save-to-box-button {
  margin-right: 50px;
}

.recipe__preparation-times {
  text-align: left;

  @include breakpoint(sm) {
    text-align: center;
  }
}

.recipe__preparation-time-wrapper {
  position: relative;
  min-height: 60px;
  display: inline-block;
  margin-bottom: 20px;
}

.recipe__preparation-time-wrapper--quick {
  width: 150px;
  margin-right: 50px;
}

.recipe__preparation-time-wrapper--slow {
  width: 260px;
}

.recipe__preparation-time__input {
  opacity: 0;

  & + .recipe__preparation-time__label {
    opacity: 0.3;
  }

  &:checked + .recipe__preparation-time__label {
    opacity: 1;
  }
}

.recipe__preparation-time__label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  cursor: pointer;
  transition: opacity $tt;
}

.recipe__preparation-time-icon,
.recipe__preparation-time__label__name {
  display: inline-block;
  vertical-align: middle;
}

.recipe__preparation-time-icon {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}
